a {
  color: #2980b9;
}

a.btn {
  font-size: 16px;
  font-weight: 600 !important;
  text-transform: none;
  webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
}

a.btn-white {
  border: 1px solid #ffffff !important;
  color: #2980b9;
  padding: 18px 32px;
}

a.btn-white:hover {
  background-color: #2980b9 !important;
  color: #ffffff !important;
}

a.btn-blue {
  border: 1px solid #2980b9 !important;
}

a.btn-blue:hover {
  background-color: #ffffff !important;
  color: #2980b9 !important;
}

.navbar-default .navbar-nav > li > a:hover, #navbar-collapse-02 .current a {
  color: #2980b9 !important;
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-weight: 400 !important;
  text-transform: none;
}

.navbar-default .navbar-nav > li > a.purchase:hover {
  color: #2980b9 !important;
}

.navbar-default .navbar-nav > li.price {
  display: none;
  line-height: 14pt;
  padding-top: 19px;
}

.navbar-default .navbar-brand {
  margin-top: 9px;
  width: 300px;
}

.btn-blue {
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}

.navbar-brand {
  margin-top: 0px !important;
}

.navbar-header img {
  width: 200px;
}

.slider {
  margin-top: 75px;
}

.slide {
  padding-bottom: 50px;
  padding-top: 50px;
}

.slide h1 {
  color:#ffffff;
  font-size:36px;
  font-weight: 700;
  line-height:42px;
}

.slide p {
  color:#ffffff;
  font-size:19px;
  font-weight: 400;
  line-height:32px;
  margin-bottom: 20px;
}

.slide .subtitle {
  font-size: 24px;
  font-weight: 700;
}

.slide .buttons {
  text-align: center;
  width: 100%;
}

.slide .btn {
  font-size: 13px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.slide .btn:hover {
  background-color: transparent !important;
}

.slide .btn-blue {
  margin-right: 15px;
}

.slide-1 {
  background-image: url('http://www.vasterad.com/themes/incredible/images/slider_bg_02.png');
}

.slide-2 {
  background-color: #eeeeee;
}

.slide-2 h1 {
  color:red;
}

.slide-2 p {
  color:#666666;
}

.separator_wrapper::after, .separator_wrapper::before {
    background-color: #666666 !important;
}

.separator_wrapper .icon-star-two {
    color: #2980b9 !important;
}

.story .story-right {
    float: none;
}

.story .story-right:after {
    display: none;
}

.story-block {
    width: 100%;
}

.footer {
  font-size: 14pt !important;
  padding: 15px 0px 5px 0px;
}

.footer .container {
  padding: 0px;
}

.footer p {
  color: #888888;
  font-size: 14px;
  margin: 5px 0px 15px 0px;
}

.footer b {
  color: #ffffff;
  font-weight: normal;
}

.footer a {
  color: #2980b9 !important;
}

.footer_social {
  text-align: right !important;
}

.footer_social li a i {
  color: #ffffff !important;
}

.newsletter_wrapper {
    background: #2980b9;
}

.newsletter_wrapper .newsletter_info {
    border-left-color: #cccccc;
}

.newsletter_wrapper #newsletter-form #email_newsletter {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    color: #666666;
}

.newsletter_wrapper input#email_newsletter::placeholder {
    color: #666666;
}

.newsletter_wrapper #newsletter-form #submit-button-newsletter {
    background-color: #666666;
    border: 1px solid #aaaaaa;
    color: #ffffff;
}

#useful {
  padding: 25px 15px 0px 15px;
}

#useful b {
  color: #ffffff;
}

#useful h5 {
  border-bottom: 1px solid #666666;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 400 !important;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
}

#useful p {
  color: #aaaaaa;
}

#useful .links li {
  font-size: 16px;
}

#useful .links li a {
  color: #aaaaaa;
}

#useful .links li a:hover {
  color: #ffffff;
}

#useful .links li a::before {
  content: "-";
  font-size: 11pt;
  color: #888888;
  margin: 0px 10px 0px 10px;
}

#useful .col-md-4 {
  padding-bottom: 25px;
}

#useful #twitter {
    list-style: initial;
}

#useful .tweets {
  font-size: 16px;
}

#useful .tweets li {
  color: #aaaaaa;
  margin: 2px 0px 12px 34px;
}

#useful .tweets li b {
  display: none;
}

@media only screen and (device-width: 320px) {
  .navbar-default .navbar-brand {
    margin-top: 9px;
    width: 260px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .navbar-default .navbar-nav > li.price {
    display: block;
  }

  .slide {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .slide .buttons {
    text-align: left;
  }

  .slide .btn {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
